.component-cooporation{
    display: flex;
    border: 1px solid #ded9d9;
    border-radius: 5px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 90px 20px;
}

.img-coop{
    margin: 0 10px;
}