body{
    margin: 0;
}

.layout-grid{
    display: grid;
    grid-template-columns: 8.33333% 8.33333% 8.33333% 8.33333% 8.33333% 8.33333% 8.33333% 8.33333% 8.33333% 8.33333% 8.33333% 8.33333%;
}

.header{
    margin-bottom: 30px;
}
.header, .product, .banner-advertise1, .banner-advertise2, .product-sales, .blogs, .collab, .footer{
    grid-column: 1 / span 12;
}

.banner1,.blog-item1{ 
    grid-column: 1 / span 4;
}


.banner2, .blog-item2{
    grid-column: 5 / span 4;
}

.banner3, .blog-item3{
    grid-column: 9 /span 4;
}

.sale1, .sale5{
    grid-column: 1 / span 3;
    grid-column: 1 / span 3;
    margin: 0 10px 20px 20px;
}

.sale2, .sale6{
    grid-column: 4 / span 3;
    margin: 0 10px 20px 10px;
}

.sale3, .sale7{
    grid-column: 7 / span 3;
    margin: 0 10px 20px 10px;
}

.sale4, .sale8{
    grid-column: 10 / span 3;
    margin: 0 20px 20px 10px;
}

.product{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.title-product{
    grid-column: 1 / span 5;
    margin: 50px 0 20px 0;
}

.product-items{
    padding: 20px;
}

.banner-advertise1{
    margin-top: 50px;
}

.banner-advertise2{
    margin-bottom: 70px;
}

.product-sales{
    margin-bottom: 30px;
}

.blogs{
    margin: 30px;
}